
.elegant{
	background-color: #eee;
	border-radius: 10px;
	
}

.default-toolbar{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	background-color: #eee;
	min-height: 100px;
}